.analytics{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    padding-top: 90px;
    justify-items: center;
}
#pie-chart{
    left: 35%;
    top: 50%;
    position: fixed;
    /* width:   fit-content; */
}

.analytics h5{
    margin-left: 25%;
}



