#completed-orders-page {
    margin: 50px 0px;
    border-radius: 10px;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#completed-search-bar{
    margin: 15px 0;
}

#search-bar-filter{
    width:200px;
    margin-left: 20px;
}

.completed-order-panel{
    margin: 5px 0;
    box-shadow: 0 4px 8px 0 #00000073;
}

.orders-panel-header {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: -webkit-fill-available;
    text-align: center;
}
.order-info {
    display: grid;
    gap: 30px;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
}

p {
    margin: 0;
}

.panel-details {
    width: 100%;
}

.order-workflow{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-top: 5px;
}

.workflow-item :first-child {
    font-weight: bold;
}

.workflow-item {
    text-align: center;
    margin: 0 10px;
}

.completed-order-panel .MuiExpansionPanelDetails-root {
    padding-bottom: 10px;
    padding-top: 0px;
}

.completed-order-panel {
    border-left: 4px solid turquoise;
}