#completed-orders-page {
    /* background-color: #615a62; */
    margin: 100px 40px;
    border-radius: 10px;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#completed-search-bar{
    margin: 15px 0;
}

#search-bar-filter{
    width:200px;
    margin-left: 20px;
}

#completed-orders-table{
    width: 90%;
}
.completed-order-panel{
    margin: 5px 0;
    box-shadow: 0 4px 8px 0 #00000073;
}

.orders-panel-header {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: -webkit-fill-available;
    text-align: center;
}

p {
    margin: 0;
}

.panel-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.panel-details > div {
    /* display: flex; */
}

.order-workflow{
    margin: 10px 0 ;
}