.order-item{
    display: flex;
    /* padding:10px 15px; */
    margin-bottom: 15px;
}

.shipping-order-panel{
    margin: 5px 0;
    box-shadow: 0 4px 8px 0 #00000073;
    border-left: 6px solid red;
    border-radius: 6px;
}

.shipping-order-panel.ready{
    border-left: 6px solid greenyellow;
}

.shipping-panel-header {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: -webkit-fill-available;
    text-align: center;
    font-weight: bold;
}

.shipping-order-info {
    
}

.order-item .statusLight {
    background-color: #f34627;
    margin-right: 10px;
    height:15px;
    width:15px;
    margin-top:7px;
}

.ready .statusLight {
    background-color: greenyellow;
}

.order-item > h3 {
    margin : 0;
}

.shipping-panel-details{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.panel-details > h4{
    margin: 5px;
}

.shipping-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

.shipping-details p {
    margin-right: 5px;
}

.all-order-items{
    /* display: flex; */
    /* margin: 5px 0; */
}

.buttons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap:10px;
    padding:10px 15px;
}