.signup-list {
    display: grid;
    position: fixed;
    top: 20%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
    width: 40%;
    text-align: center;
    border-left: 4px solid #3fd6bc;
    box-shadow: 0 4px 8px 8px #00000014;
    gap: 25px;
    justify-items: center;
}
.signup-inputs{
 display: grid;
 align-content: center;
 gap: 15px;
}
.signup-list button{
    width: fit-content;
    padding: 10px 20px;
}
.login-list {
  position: fixed;
  top: 20%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 280px;
  padding: 25px;
  width: 40%;
  text-align: center;
  border-left: 4px solid #3fd6bc;
  height: fit-content;
  box-shadow: 0 4px 8px 8px #00000014;
}
.login-inputs {
  display: grid;
  justify-content: center;
}
#username {
  width: 50%;
}
.login-btns {
  justify-content: center;
  margin-top: 40px;
  display: grid;
  gap: 15px;
}
#simple-popper{
    background-color: #3FD6BC;
    padding: 0 20px;
    padding-bottom: 10px;
    color: black;
    top: 100px;
    left: 10px;
    width: 300px;
}