:root {
  --light-grey: #b6b6bf;
  --medium-grey: #615a62;
  --dark-grey: #3b3c43;
  --box-shadow: rgba(0, 0, 0, 0.3);
}
body {
  background-color: var(--dark-grey);
}

#order-manager-page {
    padding-top: 70px;
}

#stages-container {
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-gap: 10px;
    /* margin: 10px; */
}

.stage {
  background-color: var(--medium-grey);
  height: fit-content;
  border-radius: 5px;
  max-height: 80vh;
  overflow: scroll;
}
.stage::-webkit-scrollbar {
  display: none;
}

#details-window {
  position: absolute;
  z-index: 2;
  background-color: var(--light-grey);
  border-radius: 5px;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
}
.order h3 {
  margin: 0;
  font-size: 18px;
}
.order p {
  display: block;
  margin: 0;
  /* font-size: 12px; */
}
.order .statusLight {
  background-color: yellow;
}
.inProcess .statusLight {
  background-color: orange;
}
.ready .statusLight {
  background-color: greenyellow;
}
.MuiExpansionPanelDetails-root {
  padding: 0;
}
.MuiToolbar-regular {
  background-color: var(--medium-grey);
}
.MuiIconButton-edgeStart {
  color: white;
}
#details-window > h3 {
  margin-top: 10px;
  text-align: center;
}
.MuiDrawer-paperAnchorLeft {
  width: 200px;
}
.MuiExpansionPanelSummary-content {
  align-items: center;
}
.MuiIconButton-root {
  padding: 0;
}
.activeStep .MuiPaper-root {
  background-color: transparent;
}
.MuiInputBase-input {
  color: white;
}
.statusLight {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-right: 15px;
  box-shadow: inset 1px 1px 6px var(--box-shadow);
}
#settings-page {
  background-color: var(--medium-grey);
  margin: 100px 40px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px var(--box-shadow);
}
.MuiInputLabel-formControl {
  position: absolute;
}
.popper {
  margin-top: 15px;
  margin-left: 60px;
  color: rgb(184, 226, 233);
}
.employees-settings {
  display: grid;
  width: 600px;
  grid-gap: 2em;
}
.sync-shop {
  margin-top: 1em;
  display: grid;
  grid-gap: 1em;
  margin-bottom: 10px;
}
#details-window > h3 {
  margin-top: 10px;
  text-align: center;
}
#employeeName {
  font-weight: bold;
  font-size: 14px;
}
.attributes {
  font-weight: bold;
}
.tracker_page {
  display: grid;
  grid-gap: 20px;
  padding: 70px;
  margin: 100px 120px;
  text-align: center;
  background-color: var(--medium-grey);
  border-radius: 10px;
  box-shadow: 2px 2px 20px var(--box-shadow);
}
#trackButton {
  width: 300px;
  margin: 0 auto;
}
.trackInput {
  width: 300px;
  margin: 0 auto;
  /* text-align: center; */
}
.MuiStepLabel-label.MuiStepLabel-active {
  color: white;
}
.order {
  text-align: center;
  padding: 0;
  width: 100%;
  background-color: var(--light-grey);
  box-shadow: 2px 5px 5px var(--box-shadow);
}
.sync-input {
  margin: 4px;
  width: 250px;
}
#storeSynced {
  margin-left: 50px;
  color: greenyellow;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: white;
}
.MuiStepIcon-root.MuiStepIcon-active {
  color: #7ea016;
}
.MuiFormLabel-root.Mui-focused {
  color: black;
}
#details-window {
  position: fixed;
  left: calc(33% - 25px);
  top: 15%;
  width: 33%;
  padding: 50px;
  background-color: var(--light-grey);
}
