#order-manager-page {
  margin-top: 80px;
}

#stages-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin: 10px;
}

.stage {
  background-color: lightgrey;
  height: fit-content;
  border-radius: 5px;
}

#details-window {
  position: absolute;
  z-index: 2;
  background-color: lightblue;
  border-radius: 5px;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
}
.order {
  /* background-color: tomato; */
  text-align: center;
  padding: 0;
  /* display: flex; */
}
.order h3 {
  margin: 0;
  font-size: 18px;
}
.order p {
  display: block;
  margin: 0;
  font-size: 12px;
}
.order .statusLight {
  background-color: yellow;
}
.inProcess .statusLight {
  background-color: orange;
}
/* .inProcess {
  background-color: green;
} */
.MuiExpansionPanelDetails-root {
  padding: 0;
}
#details-window > h3 {
  margin-top: 10px;
  text-align: center;
}
.MuiDrawer-paperAnchorLeft{
    width: 200px;
}
.statusLight{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 5px;
}