html {
  height: 100vh;
}

#order-manager-page {
  padding-top: 45px;
}

.MuiToolbar-regular {
  min-height: 45px;
}
.ready .statusLight {
  background-color: greenyellow;
}
.statusLight {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-right: 15px;
}
.tracker_page {
  display: grid;
  grid-gap: 20px;
  padding: 70px;
  margin: 100px 120px;
  text-align: center;
  border-left: 4px solid #3FD6BC;
}
#trackButton {
  width: 300px;
  margin: 0 auto;
}
.trackInput {
  width: 300px;
  margin: 0 auto;
}
.MuiStepIcon-root.MuiStepIcon-active {
  color: rgb(14, 136, 79);
}
